#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-lines {
  stroke: rgb(200, 200, 200);
}

.data-date {
  stroke: rgba(200, 50, 50);
}

.activity {
  fill: rgb(154, 210, 187);
}

.activity-progress {
  fill: rgb(102, 102, 102);
}

.milestone-marker {
  fill: rgb(112, 32, 81);
}
